@page "/addstudent"

<EditForm Model="@Student" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <h3>Create Student</h3>
    <hr/>
    <div class="form-group row">
        <label for="studentID" class="col-sm-2 col-form-label">Nim</label>
        <div class="col-sm-10">
            <InputText id="studentID" class="form-control" @bind-Value="Student.studentID" placeholder="Masukkan Nim"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">Nama Depan</label>
        <div class="col-sm-10">
            <InputText id="firstName" class="form-control" placeholder="Masukkan Nama Depan"
            @bind-Value="Student.firstName" />
            <ValidationMessage For="@(()=>Student.firstName)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Nama Belakang</label>
        <div class="col-sm-10">
            <InputText id="lastName" class="form-control" placeholder="Masukkan Nama Belakang"
            @bind-Value="Student.lastName" />
            <ValidationMessage For="@(()=>Student.lastName)" />
        </div>
    </div>
    <div class="form-group row">    
        <label for="enrollmentDate" class="col-sm-2 col-form-label">Tanggal Masuk</label>
        <div class="col-sm-10">
            <InputDate @bind-Value="Student.enrollmentDate" class="form-control" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>