@page "/"

<h1>Hello, William Theodorus</h1>

Welcome to Academic Information System of Duta Wacana Christian University.

<iframe height="450px" width="1000px"
            src="https://www.youtube.com/embed/E7xddPDswEw">
</iframe>